<div class="form">
  <h3>Settings</h3>
  <form class="container">
    <div class="input">
      <div class="inputsFields">
        <label for="nom">Name:</label>
        <input type="text" id="nom" name="nom" [(ngModel)] = "user.name" required />
      </div>
      <div class="inputsFields">
        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email" [(ngModel)] = "user.email" required />
      </div>
      <div class="inputsFields">
        <label for="telephone">Phone Number:</label>
        <input type="text" id="phone" name="telephone" [(ngModel)] = "user.phone" required />
      </div>
      <!-- Add some spacing here -->
      <div class="spacing"></div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Role</label>
        <select class="form-select" id="inputGroupSelect01" [(ngModel)]="user.Role" name="userRole" (ngModelChange)="onRoleChange($event)">
          <option [value]="1" [selected]="user.Role === 1">Seller</option>
          <option [value]="0" [selected]="user.Role === 0">Consumer</option>
        </select>
      </div>
      
            
    </div>
    <div class="buttons-container">
      <button class="update-button" (click)="handleUpdate()">Update Account</button>
      <button class="delete-button" *ngIf="this.role != 2" (click)="handleDelete()">Delete Account</button>
    </div>
  </form>
</div>
