<section class="bg-color">
    
    <br><br><br><br><br><br><br><br><br><br>
    <div class="policy-product1">  
      <div class="container-fluid ">
        
        <owl-carousel-o [options]="policyOptions">
            <ng-template carouselSlide>
                <div class="card">
                    <div class="card-main">
                      <div class="discount">9%</div>
                      <div class="product-container">
                        <div class="p" (mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                        <div class="p"(mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                        <div class="p"(mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                    </div>
                    <div class="image">
                        <img src="{{url}}" alt="image">
                    </div>
                    <div class="cart-line"></div>
                    <div class="cart-item">
                        <ul>
                          <li><a href=""><mat-icon>favorite</mat-icon></a></li>
                          <li><a href=""><mat-icon>search</mat-icon></a></li>
  
                        </ul>
                    </div>
                
                <div class="content">
                  <p>nouveau prix :<span class="money">80dt</span></p>
                  <p>ancien prix :<span class="old-price">85dt</span></p>
                </div>
              </div>
                    
                </div>
                
            </ng-template>  
            <ng-template carouselSlide>
              <div class="card">
                  <div class="card-main">
                    <div class="discount">9%</div>
                    <div class="product-container">
                      <div class="p" (mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                      <div class="p"(mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                      <div class="p"(mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                  </div>
                  <div class="image">
                      <img src="{{url}}" alt="image">
                  </div>
                  <div class="cart-line"></div>
                  <div class="cart-item">
                      <ul>
                        <li><a href=""><mat-icon>favorite</mat-icon></a></li>
                        <li><a href=""><mat-icon>search</mat-icon></a></li>
  
                      </ul>
                  </div>
              
              <div class="content">
                <p>nouveau prix :<span class="money">80dt</span></p>
                <p>ancien prix :<span class="old-price">85dt</span></p>
              </div>
            </div>
                  
              </div>
              
          </ng-template>  
          <ng-template carouselSlide>
            <div class="card">
                <div class="card-main">
                  <div class="discount">9%</div>
                  <div class="product-container">
                    <div class="p" (mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                    <div class="p"(mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                    <div class="p"(mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                </div>
                <div class="image">
                    <img src="{{url}}" alt="image">
                </div>
                <div class="cart-line"></div>
                <div class="cart-item">
                    <ul>
                      <li><a href=""><mat-icon>favorite</mat-icon></a></li>
                      <li><a href=""><mat-icon>search</mat-icon></a></li>
  
                    </ul>
                </div>
            
            <div class="content">
              <p>nouveau prix :<span class="money">80dt</span></p>
              <p>ancien prix :<span class="old-price">85dt</span></p>
            </div>
          </div>
                
            </div>
            
        </ng-template>  
        <ng-template carouselSlide>
          <div class="card">
              <div class="card-main">
                <div class="discount">9%</div>
                <div class="product-container">
                  <div class="p" (mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                  <div class="p"(mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
                  <div class="p"(mouseover)="changeImage1($event)"><img src="../../../../assets/images/p1.png" alt="product"></div>
              </div>
              <div class="image">
                  <img src="{{url}}" alt="image">
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                  <ul>
                    <li><a href=""><mat-icon>favorite</mat-icon></a></li>
                    <li><a href=""><mat-icon>search</mat-icon></a></li>
  
                  </ul>
              </div>
          
          <div class="content">
            <p>nouveau prix :<span class="money">80dt</span></p>
            <p>ancien prix :<span class="old-price">85dt</span></p>
          </div>
        </div>
              
          </div>
          
      </ng-template>  
            
          </owl-carousel-o>
    </div>
  </div>
  
  </section>