  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Nous sommes une société de développement de logiciels basée en Tunisie. 
            Nous sommes spécialisés dans la transformation et marketing digitale.<br>
            On est partenaire de l’ERP Odoo. On fait l’intégration,
             la configuration et le développement des différents apps Odoo suivant le besoin 
             et la demande de nos clients. 
            On propose également des solutions pour mieux présenter votre PME/PMI à travers la création de site web,
             la gestion des réseaux sociaux et le référencement SEO/SEA.  </div>

        <div class="col-xs-6 col-md-3">
          
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
            <a href="https://capit.agency" target="_blank" class="capit-link">CAPIT</a>
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/capit.agency/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.instagram.com/capit.odoo/"><i class="fab fa-instagram"></i></a></li>
            <li><a class="dribbble" href="https://capit.agency/contact/"><i class="fab fa-google"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/capit_tn/"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
       
        </div>
      </div>
    </div>
</footer>